@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    box-sizing: border-box;
  }

  ::-webkit-scrollbar {
    width: 4px;
    height: 4px;
  }

  ::-webkit-scrollbar-track {
    background: #f4f4f5;
  }

  ::-webkit-scrollbar-thumb {
    background: #a1a1aa;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #71717a;
  }
}
